
*{
    margin: 0;
    padding: 0;
}
html ,body{
    height: 100%;
   
    height: 100%;
    background: #ffd748
}
@mixin center_x{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s
}
@mixin center_x_rotateZ{
    position: absolute;
    left: 50%;
    transform: translateX(-50%)  rotateZ(45deg) ;
    transition: .5s
}
@mixin center_y{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s
}
@mixin center_y_rotateZ {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    transition: .5s
}
@mixin center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // transition: .5s
} 
.package{
    max-width: 900px;
    margin: 0 auto;
    .haeder{
      
        h1{
            margin-top: 60px;
            color: #ff3d2e;
            font-size: 60px;
            font-weight: 600;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }
        h2{
            font-size: 40px;
            margin-top: 30px;
            font-weight: 400;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        p{
            margin-top: 30px;
            font-size: 20px;
            text-indent: 2em;
            line-height: 30px;
            word-spacing:.2em;
            letter-spacing:.08em;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
    .btn_list{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-between;
        align-items: center;
        button{
            width: 150px;
            height: 50px;
            background: #ff3d2e;
            border: none;
            cursor: pointer;
            color: #fff;
            border-radius: 5px;
            position: relative;
            z-index: 100;
            &:hover{ 
                background: #c02e23  ;
                transition: .5s
            }
            &::before{
               @include center;
               opacity: 0;
               transition: .5s
            }
            &::after{
                @include center;
                opacity: 0;
                transition: .5s
            }
            &[data-balloon-pos = "up"]:hover::before{
                @include center_x;
                opacity: 1;
                top: -40px;
            }
            &[data-balloon-pos = "up"]:hover::after{
                @include center_x_rotateZ;
                top: -12px;
                opacity: 1;
            }

            &[data-balloon-pos = "left"]:hover::before{
                @include center_y;
                left: calc(-50% - 4px);
                // left: auto;
                opacity: 1;
               
            }
            &[data-balloon-pos = "left"]:hover::after{
                @include center_y_rotateZ;
                left: -12px;
                // left: auto;
                opacity: 1;
            }
            &[data-balloon-pos = "right"]:hover::before{
                @include center_y;
                left: 155px;
                opacity: 1;
               
            }
            &[data-balloon-pos = "right"]:hover::after{
                @include center_y_rotateZ;
                left:152px;
                opacity: 1;
            }
            &[data-balloon-pos = "down"]:hover::before{
                @include center_x;
              
                top: 55px;
                opacity: 1;
               
            }
            &[data-balloon-pos = "down"]:hover::after{
                @include center_x_rotateZ;
                top: 52px;
                opacity: 1;
            }
          
        }
        button::before{
            content: attr(data-balloon);
            max-width: 150px;
            text-overflow:ellipsis;
            overflow: hidden;
            height: 15px;
           white-space: nowrap;
            background: #333;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            font-size: 12px;
            line-height: 15px;
            font-family: Arial, Helvetica, sans-serif;
            z-index: 10;
            // transition: .5s
        }
       
      
        button::after{
            content: '';
            background: #333;
            width: 10px;
            height: 10px;
            position: absolute;
            border-radius: 3px;
         
            z-index: 1;
          
        }
        // [data-balloon-pos = "up"]::before{
        //     @include center_x;
        //     top: -40px;
        // }
        // [data-balloon-pos = "up"]::after{
        //     @include center_x_rotateZ;
        //     top: -13px;
        // }
        // [data-balloon-pos = "left"]::before{
        //     @include center_y;
        //     right: 155px;
          
        // }
        // [data-balloon-pos = "left"]::after{
        //     @include center_y_rotateZ;
        //     right: 152px;
           
        // }
        // [data-balloon-pos = "right"]::before{
        //     @include center_y;
        //     left: 155px;
            
        // }
        // [data-balloon-pos = "right"]::after{
        //     @include center_y_rotateZ;
        //     left:152px;
            
        // }
        // [data-balloon-pos = "down"]::before{
        //     @include center_x;
        //     bottom: -40px;
        // }
        // [data-balloon-pos = "down"]::after{
        //     @include center_x_rotateZ;
        //     bottom: -13px;
           
        // }
        button:focus{
            outline:none
        }
    }
}

