* {
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.father {
  width: 300px;
  height: 300px;
  background: #333;
  position: relative;
  border-radius: 50%;
  margin: 100px;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  min-width: 300px;
}

.father .son {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  left: -25PX;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-transform-origin: 175px 25px;
          transform-origin: 175px 25px;
  -webkit-animation: round 10s infinite linear;
          animation: round 10s infinite linear;
  -webkit-transition: 2s;
  transition: 2s;
}

.father .son:hover .sun {
  cursor: pointer;
  background: #fff;
  color: #333;
  -webkit-transition: 1s;
  transition: 1s;
  background: url("./btn_emoji_hover.png") #fff no-repeat;
  background-size: 100% 100%;
}

.father .son .sun {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 1s;
  transition: 1s;
  animation: round 10s reverse infinite linear;
  background: url("./btn_emoji.png") #fff no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.clock {
  width: 500px;
  height: 500px;
  position: relative;
  background: #333;
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.clock .dial {
  width: 300px;
  height: 300px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}

.clock .dial .scale {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clock .dial .scale .sc {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  font-size: 20px;
  position: absolute;
  left: 110px;
  top: -15px;
  -webkit-transform-origin: 15px 140px;
          transform-origin: 15px 140px;
}

.clock .dial .scale .sc:nth-child(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.clock .dial .scale .sc:nth-child(1) .number {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.clock .dial .scale .sc:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.clock .dial .scale .sc:nth-child(2) .number {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.clock .dial .scale .sc:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.clock .dial .scale .sc:nth-child(3) .number {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.clock .dial .scale .sc:nth-child(4) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.clock .dial .scale .sc:nth-child(4) .number {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

.clock .dial .scale .sc:nth-child(5) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

.clock .dial .scale .sc:nth-child(5) .number {
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

.clock .dial .scale .sc:nth-child(6) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clock .dial .scale .sc:nth-child(6) .number {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.clock .dial .scale .sc:nth-child(7) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.clock .dial .scale .sc:nth-child(7) .number {
  -webkit-transform: rotate(-210deg);
          transform: rotate(-210deg);
}

.clock .dial .scale .sc:nth-child(8) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.clock .dial .scale .sc:nth-child(8) .number {
  -webkit-transform: rotate(-240deg);
          transform: rotate(-240deg);
}

.clock .dial .scale .sc:nth-child(9) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.clock .dial .scale .sc:nth-child(9) .number {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.clock .dial .scale .sc:nth-child(10) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.clock .dial .scale .sc:nth-child(10) .number {
  -webkit-transform: rotate(-300deg);
          transform: rotate(-300deg);
}

.clock .dial .scale .sc:nth-child(11) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
}

.clock .dial .scale .sc:nth-child(11) .number {
  -webkit-transform: rotate(-330deg);
          transform: rotate(-330deg);
}

.clock .dial .scale .sc:nth-child(12) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.clock .dial .scale .sc:nth-child(12) .number {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.clock .dial .pointer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clock .dial .pointer .center {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
}

.clock .dial .pointer .hour {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 8px;
  height: 150px;
}

.clock .dial .pointer .min {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 6px;
  height: 180px;
}

.clock .dial .pointer .sec {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 4px;
  height: 210px;
}

.clock .dial .pointer .hand {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  background: #333;
  -webkit-box-shadow: 0 0  5px #333;
          box-shadow: 0 0  5px #333;
}

.run_s {
  -webkit-animation: second 60s steps(60, start) infinite backwards;
          animation: second 60s steps(60, start) infinite backwards;
}

.run_m {
  -webkit-animation: second 3600s infinite  backwards;
          animation: second 3600s infinite  backwards;
}

.run_h {
  -webkit-animation: second 43200s infinite  backwards;
          animation: second 43200s infinite  backwards;
}

@-webkit-keyframes second {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes second {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.silder {
  min-width: 700px;
  height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.silder .package {
  width: 720px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 380px;
  -webkit-box-shadow: 0 0  5px #333;
          box-shadow: 0 0  5px #333;
}

.silder .package .img_1 {
  width: 720px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.silder .package .img_1 .pice {
  width: 140px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
          transform: rotate3d(0, 1, 0, -90deg);
  background: url(./dog.jpeg);
  background-size: 500% 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -70px;
          transform-origin: 50% 50% -70px;
}

.silder .package .img_1 .pice .bottom {
  width: 140px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0  3px #fff;
          box-shadow: 0 0  3px #fff;
  -webkit-transform: translateZ(-140px);
          transform: translateZ(-140px);
  background: rgba(255, 0, 0, 0.2);
  background: url(./cat.jpeg);
  background-size: 500% 100%;
}

.silder .package .img_1 .pice .left {
  width: 140px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0  3px #fff;
          box-shadow: 0 0  3px #fff;
  -webkit-transform: rotateY(90deg) translateZ(-70px) translateX(70px);
          transform: rotateY(90deg) translateZ(-70px) translateX(70px);
  background: rgba(255, 255, 0, 0.2);
  background: url(./cat_resever.jpg);
  background-size: 500% 100%;
}

.silder .package .img_1 .pice .right {
  width: 140px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0  3px #fff;
          box-shadow: 0 0  3px #fff;
  -webkit-transform: rotateY(90deg) translateZ(70px) translateX(70px);
          transform: rotateY(90deg) translateZ(70px) translateX(70px);
  background: rgba(0, 0, 255, 0.2);
  background: url(./cat.jpeg);
  background-size: 500% 100%;
}

.silder .package .img_1 .pice:nth-child(1) {
  animation: 5s 3s turn_round ease forwards alternate-reverse infinite;
}

.silder .package .img_1 .pice:nth-child(2) {
  animation: 5s 3s turn_round ease-in-out forwards alternate-reverse infinite;
  background-position: 25% 0px;
}

.silder .package .img_1 .pice:nth-child(2) div {
  background-position: 25% 0px;
}

.silder .package .img_1 .pice:nth-child(3) {
  animation: 5s 3s  turn_round ease-in forwards alternate-reverse infinite;
  background-position: 50% 0px;
}

.silder .package .img_1 .pice:nth-child(3) div {
  background-position: 50% 0px;
}

.silder .package .img_1 .pice:nth-child(4) {
  animation: 5s 3s  turn_round ease-in-out forwards alternate-reverse infinite;
  background-position: 75% 0px;
}

.silder .package .img_1 .pice:nth-child(4) div {
  background-position: 75% 0px;
}

.silder .package .img_1 .pice:nth-child(5) {
  animation: 5s 3s   turn_round ease-out forwards alternate-reverse infinite;
  background-position: 100% 0px;
}

.silder .package .img_1 .pice:nth-child(5) div {
  background-position: 100% 0px;
}

@-webkit-keyframes turn_round {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
    background-size: 500% 100%;
  }
}

@keyframes turn_round {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
    background-size: 500% 100%;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg);
  }
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
    background-size: 500% 100%;
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg);
  }
  0% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg);
            transform: rotate3d(0, 1, 0, -90deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
            transform: rotate3d(0, 1, 0, 0deg);
    background-size: 500% 100%;
  }
}
/*# sourceMappingURL=clock.css.map */